input[type='submit'],
.options {
    color: coral;
    background-color: antiquewhite;
    font-size: xx-large;
}

#editForm {
    display: none;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
    color: rgb(2, 122, 116);
    background-color: rgb(148, 179, 209);
}

th {
    background-color: #f8f8f8;
    padding: 5px;
}

td {
    border: 1px solid;
    padding: 5px;
}

form {
    color: darkolivegreen;
    font-size: xx-large;
    text-align: center;
}

div {
    margin: 5px;
}

#postman {
    width: 100px;
    height: 30px;
    color: #f8f8f8;
    background-color: brown;
    margin: 10px;
}